*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/misc.xml
/.idea/modules.xml
/.idea/gradle.xml
/.idea/vcs.xml
/build.gradle
/gradle/wrapper/gradle-wrapper.properties




